<%@page_title="Home" %>
<div class="home">
<h2 class="center">Welcome</h2>
<div class ="center">
<%= link_to("Home ",'# ')%>&nbsp;|
<%= link_to("Students List",'/students/list')%>
</div>
<br />	

</div>